In [4]:
import yfinance as yf
import pandas as pd

In [7]:
# Define parameters
ticker = "AAPL"  # Replace with your desired stock ticker
start_date = "2015-01-01"
end_date = "2024-12-31"
output_file = "apple_stock_data.csv"

# Fetch stock data from Yahoo Finance
df = yf.download(ticker, start=start_date, end=end_date)

# Reset the index to ensure 'Date' is a column and save in a clean format
df.reset_index(inplace=True)

# Save the cleaned data to a CSV file
df.to_csv(output_file, index=False)  # Do not save the index

print(f"Cleaned data saved to {output_file}")

[*********************100%***********************]  1 of 1 completed

Cleaned data saved to apple_stock_data.csv

In [8]:
# Load the CSV file
df = pd.read_csv(output_file)

# Display the first few rows
print(df.head())

# Validate the structure
print(df.info())

         Date               Close                High                 Low  \
0         NaN                AAPL                AAPL                AAPL
1  2015-01-02  24.347171783447266  24.817056961010813  23.906236257464577
2  2015-01-05  23.661272048950195  24.195738769154584  23.474209631341235
3  2015-01-06  23.663497924804688  23.924049860493223  23.300505111079683
4  2015-01-07  23.995315551757812  24.095527326889126  23.761485811087393

                 Open     Volume
0                AAPL       AAPL
1  24.805921564775062  212818400
2   24.11556867617278  257142000
3   23.72585205994149  263188400
4  23.872832983021304  160423600
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2516 entries, 0 to 2515
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2515 non-null   object
 1   Close   2516 non-null   object
 2   High    2516 non-null   object
 3   Low     2516 non-null   object
 4   Open    2516 non-null   object
 5   Volume  2516 non-null   object
dtypes: object(6)
memory usage: 118.1+ KB
None

In [9]:
# Drop the first row containing incorrect headers
df_cleaned = df.iloc[1:].copy()

# Rename columns for consistency
df_cleaned.columns = ["Date", "Close", "High", "Low", "Open", "Volume"]

# Convert 'Date' to datetime and other columns to numeric
df_cleaned["Date"] = pd.to_datetime(df_cleaned["Date"])
numeric_columns = ["Close", "High", "Low", "Open", "Volume"]
df_cleaned[numeric_columns] = df_cleaned[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Display the cleaned data
df_cleaned.head()

        Date      Close       High        Low       Open     Volume
1 2015-01-02  24.347172  24.817057  23.906236  24.805922  212818400
2 2015-01-05  23.661272  24.195739  23.474210  24.115569  257142000
3 2015-01-06  23.663498  23.924050  23.300505  23.725852  263188400
4 2015-01-07  23.995316  24.095527  23.761486  23.872833  160423600
5 2015-01-08  24.917273  24.975174  24.206877  24.324906  237458000

In [10]:
# Define the output file path
cleaned_file_path = "apple.csv"

# Save the cleaned DataFrame to a CSV file
df_cleaned.to_csv(cleaned_file_path, index=False)

print(f"Cleaned data saved to {cleaned_file_path}")

Cleaned data saved to apple.csv